@font-face {
    font-family: Karla500;
    src: url(../fonts/Karla-Medium.ttf)
}

@font-face {
    font-family: Karla400;
    src: url(../fonts/Karla-Regular.ttf)
}

@font-face {
    font-family: Montaga400;
    src: url(../fonts/Montaga-Regular.ttf)
}


@media only screen and (max-width: 768px) {
    header {
        .header-all {

            .logo {
                width: 70%;

                img {
                    width: 60% !important;
                }
            }


            .icon {
                margin-top: -40px;
                flex: auto;
            }


        }

        .sidebar {
            width: 40% !important;
        }

        .search-sidebar {
            width: 40% !important;
        }

        nav {
            display: none;
        }

        .icons {
            .search-icon {
                img {
                    margin-bottom: 6px;
                }

            }

            .user-icon,
            .wishlist,
            .basket {
                display: none;
            }
        }

        .hamburger-icon {
            display: inline;
        }

    }
    #categories{
        .item{
            margin-bottom: 30px;
        }
    }
    #products-all{
        .filtering{
            width: 90%!important;
          
        }
        .sorting{
            .form-select{
                width: 30%!important;
            }
        }
    }
}


@media all and (min-width: 768px) and (max-width: 992px) {

    header {
        .header-all {

            .logo {
                width: 70%;

                img {
                    width: 60% !important;
                }
            }


            .icon {
                margin-top: -40px;
                flex: auto;
            }

        }

        .sidebar {
            width: 30% !important;
        }

        .search-sidebar {
            width: 30% !important;
        }

        nav {
            display: none;
        }

        .icons {
            .search-icon {
                img {
                    margin-bottom: 7px;
                }

            }

            .user-icon,
            .wishlist,
            .basket {
                display: none;
            }
        }

        .hamburger-icon {
            display: inline;
        }

    }
    #categories{
        .item{
            margin-bottom: 30px;
        }
    }
    #products-all{
        .filtering{
            width: 90%!important;
           
         
        }
        .sorting{
            .form-select{
                width: 30%!important;
            }
        }
    }
}

@media all and (min-width: 992px) and (max-width: 1200px) {

    header {
        .hamburger-icon {

            display: none;
        }

        nav {
            width: 100%;
        }

    }
    .filtering{
        width: 90%!important;
      
     
    }
  
}


@media only screen and (min-width: 1200px) {
    header {
        .hamburger-icon {

            display: none;
        }
    }
}


a {
    text-decoration: none;
}

header {

    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 4;
    }

    .ticker {
        padding: 8px 0;
        background-color: rgb(16, 43, 38);
        color: #ddf3b6;
        font-family: Karla400;
        font-size: 13px;

        a {
            color: #ddf3b6;
            margin-left: 10px;
        }
    }

    .header-all {
        padding: 2rem 0;

        .logo {
            width: 100%;

            img {
                width: 35%;
            }
        }
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        transition: .5s;
        background-color: White;
        width: 22%;
        height: 100vh;
        padding: 15px 25px;
        z-index: 10;

        i {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 30px;
            color: white;
            cursor: pointer;
            transition: all 0.5s;
            z-index: 30px;
        }

        a {
            color: black;
            display: block;
            line-height: 15px;
            text-align: center;

            &:nth-of-type(6) {
                color: #919090;
            }
        }

        .close-icon {
            display: flex;
            justify-content: flex-end;
            padding: 6px;
            font-size: 13px;
            cursor: pointer;
            color: #102b26;
            background-color: #ddf3b6;
        }

        hr {
            margin-left: 40px;

        }

    }

    .move-sidebar {
        transform: translate(336px, 0);
    }

    .search-sidebar {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 22%;
        height: 100vh;
        padding: 20px;
        z-index: 5;
        background-color: white;
        transition: all .5s;

        .title {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            font-family: Karla400;
            font-size: 16px;

            span {
                color: #999;
            }

            a {
                color: #212529;
            }

            i {
                margin-right: 10px;
                cursor: pointer;
            }
        }

        .input {
            border-bottom: 2px solid #aeaeae;

            input {
                width: 100%;
                border: none;
                margin-top: 20px;
                outline: none;

                &::placeholder {
                    font-family: Karla400;
                    font-size: 20px;
                    color: black;
                }
            }

            i {
                margin-top: 15px;
                margin-right: 10px;
            }
        }

        p {
            font-family: Regular400;
            font-size: 14px;
            opacity: .4;
            margin-top: 20px;
        }


    }

    nav {
        text-align: center;

        a {
            position: relative;
            z-index: 1;
            color: #6a6c6d;
            margin: 0 10px;
            font-family: Karla400;
            font-size: 16px;
            transition: all .5s;

            &::after {
                content: " ";
                position: absolute;
                width: 0;
                height: 1px;
                background-color: #ff6f2e;
                bottom: 0;
                left: 0;
                z-index: -1;
                transition: all .3s;
            }

            &:hover {
                color: #ff6f2e;

                &::after {
                    content: " ";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #ff6f2e;
                    bottom: 0;
                    left: 0;
                    z-index: -1;

                }
            }
        }

    }

    .icons {
        text-align: end;

        a {
            color: black;
            margin: 0 4px;

            img {
                width: 5%;
            }
        }

        .wishlist,
        .basket {
            position: relative;

            .count {
                position: absolute;
                top: -12px;
                right: -8px;
                background-color: #ddf3b6;
                border-radius: 50%;
                border: 2px solid white;
                width: 21px;
                height: 21px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }


    }

}

#categories {
    .category-items {
        padding: 3rem 0;
        text-align: center;

        h1 {
            margin-bottom: 3rem;
            font-family: Montaga500;
            font-size: 48px;
        }

        .item {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            &:hover img {
                transform: scale(1.1);
            }

            img {
                width: 75%;
                transition: all 0.3s ease-in-out;
                object-fit: cover;
                height: 240px;
            }

            .text {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                color: white;

                h5 {
                    font-family: Montaga500;
                    font-size: 22px;
                }

                h6 {
                    font-family: Karla400;
                    font-size: 16px;
                }
            }
        }


    }
}

#products-all {
    padding: 3rem 0;
.left{
    position: sticky;
    top: 150px;
    
    .filtering {
        
        margin-top: 1rem;
        width: 75%;
        margin: auto;

        h1 {
            font-family: Montaga400;
            font-size: 30px;
        }
        h6{
            margin-bottom: 20px;
        }
        hr {

            color: #aeaeae;
        }

        .filter-all {


            .filter-price {
                margin: 3rem 0;


                .range-slider {
                    margin: auto;
                    position: relative;
                    height: 4em;
                    display: flex;
                    justify-content: space-between;

                    .filterBtn {
                        button {
                            border: none;
                            padding: 3px 10px;
                        }
                    }
                }

                .range-slider svg,
                .range-slider input[type=range] {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                input[type=number] {
                    border: 1px solid #ddd;
                    font-size: 1.6em;
                    -moz-appearance: textfield;
                    outline: none;

                }

                input[type=number]::-webkit-outer-spin-button,
                input[type=number]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                input[type=number]:invalid,
                input[type=number]:out-of-range {
                    border: 2px solid #102b26;
                }

                input[type=range] {
                    -webkit-appearance: none;
                    width: 100%;
                }

                input[type=range]:focus {
                    outline: none;
                }

                input[type=range]:focus::-webkit-slider-runnable-track {
                    background: #102b26;
                }

                input[type=range]:focus::-ms-fill-lower {
                    background: #102b26;
                }

                input[type=range]:focus::-ms-fill-upper {
                    background: #102b26;
                }

                input[type=range]::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 2px;
                    cursor: pointer;
                    animate: 0.2s;
                    background: #102b26;
                    border-radius: 1px;
                    box-shadow: none;
                    border: 0;
                }

                input[type=range]::-webkit-slider-thumb {
                    z-index: 2;
                    position: relative;
                    box-shadow: 0px 0px 0px #000;
                    border: 1px solid #102b26;
                    height: 13px;
                    width: 13px;
                    border-radius: 25px;
                    background: #102b26;
                    cursor: pointer;
                    -webkit-appearance: none;
                    margin-top: -6px;
                }

                input[type=range]::-moz-range-track {
                    width: 100%;
                    height: 5px;
                    cursor: pointer;
                    animate: 0.2s;
                    background: #102b26;
                    border-radius: 1px;
                    box-shadow: none;
                    border: 0;
                }

                input[type=range]::-moz-range-thumb {
                    z-index: 2;
                    position: relative;
                    box-shadow: 0px 0px 0px #000;
                    border: 1px solid #102b26;
                    height: 18px;
                    width: 18px;
                    border-radius: 25px;
                    background: #102b26;
                    cursor: pointer;
                }

                input[type=range]::-ms-track {
                    width: 100%;
                    height: 5px;
                    cursor: pointer;
                    animate: 0.2s;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                }

                input[type=range]::-ms-fill-lower,
                input[type=range]::-ms-fill-upper {
                    background: #102b26;
                    border-radius: 1px;
                    box-shadow: none;
                    border: 0;
                }

                input[type=range]::-ms-thumb {
                    z-index: 2;
                    position: relative;
                    box-shadow: 0px 0px 0px #000;
                    border: 1px solid #102b26;
                    height: 18px;
                    width: 18px;
                    border-radius: 25px;
                    background: #102b26;
                    cursor: pointer;
                }

                button {
                    color: #ddf3b6;
                    background-color: #102b26;
                    font-size: 15px;
                    transition: all .4s;

                    &:hover {
                        color: #fff;
                        background-color: #ff6f2e;
                    }

                }



            }

            
                .category,.brand{
                    margin: 5px 0;
                    font-family: Karla400;
                    font-size: 16px;
                    transition: all .4s;
                    label{
                        margin-left: 5px;
                        cursor: pointer;
                    }
                    input{
                        accent-color:#ff6f2e;
                        cursor: pointer;
                    }
                    &:hover{
                        color: #ff6f2e;
                    }
                }
            


        }
    }
}
   

    .right {
        width: 97%;
        .sorting{
            padding: 0 15px;
            h1{
                font-family: Karla400;
                font-size: 16px;
            }
            align-items: end;
            justify-content: end;
            .form-select{
                width: 150px;
                height: 40px;
                margin: 0 20px;
                border-radius: inherit;
                color: gray;
            }
            select:focus {
                outline: none;
                box-shadow: none;
                border: 1px solid #c7c4c4;
            }
        }

        .product {

            position: relative;
            overflow: hidden;
            margin-top: 30px;

            img {
                width: 96%;


            }

            .hover-img {
                position: absolute;
                bottom: 102px;
                left: 0px;
                width: 96%;
                transition: all .7s;


                &:hover {
                    transform: scale(1.1);

                }
            }

            .icons {
                position: absolute;
                left: 64px;
                bottom: 161px;
                transition: all .7s;

                i {
                    &:nth-child(2) {
                        position: absolute;
                        left: 0;
                    }

                    margin: 0 2px;
                    font-size: 18px;
                    background-color: white;
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .6s;

                    &:hover {
                        color: white;
                        background-color: #ff6f2e;
                    }

                }
            }

            .text {
                text-align: center;
                margin-top: 20px;

                h6 {
                    font-size: 14px;
                    font-family: Karla400;
                    color: #c7c4c4;
                }

                h4 {
                    font-size: 20px;
                    font-family: Mantaga400;
                    color: black;
                    transition: all .5s;

                    &:hover {
                        color: #ff6f2e;
                    }
                }

                span {
                    font-size: 16px;
                    font-family: Karla400;
                }
            }

        }
    }


}







footer {
    background-color: black;
    padding: 4rem 2rem;

    .footer-all {


        h1 {
            color: white;
            font-family: Karla400;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        h2 {
            color: white;
            font-family: Karla400;
            font-size: 16px;

        }

        hr {
            color: #e7e7e7;
            width: 100%;
        }

        .footer-top {
            margin-bottom: 30px;

            .footer-left {

                .input {
                    position: relative;
                    border: 1px solid #e7e7e7;
                    padding: 10px;
                    margin: 20px 0;
                    width: 50%;

                    span {
                        position: absolute;
                        top: 0;
                        left: 14px;
                        transition: .5s;
                        color: white;
                        background-color: black;
                        padding: 3px;
                        border-radius: 20%;
                    }

                    input {
                        border: none;
                        outline: none;
                        width: 100%;
                        background-color: black;

                        &:focus {
                            color: white;

                        }

                    }

                }

                button {
                    padding: 12px 30px;
                    color: black;
                    background-color: white;
                    font-family: Karla500;
                    font-size: 16px;
                    margin-bottom: 25px;
                }

                .icons {
                    a {
                        color: white;
                        margin-right: 25px;

                    }
                }
            }

            .footer-right {
                span {
                    font-family: Montaga400;
                    font-size: 22px;
                    color: white;
                }

                a,
                p {
                    color: white;
                    margin: 15px 0;
                }

                a {
                    position: relative;
                    z-index: 1;
                    display: block;
                    transition: all .5s;

                    &::after {
                        content: " ";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        background-color: #ff6f2e;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                        transition: all .3s;
                    }

                    &:hover {
                        color: #ff6f2e;

                        &::after {
                            content: " ";
                            position: absolute;
                            width: 40%;
                            height: 1px;
                            background-color: #ff6f2e;
                            bottom: 0;
                            left: 0;
                            z-index: -1;

                        }
                    }
                }
            }
        }

        .footer-bottom {
            margin-top: 20px;

            .rights {
                text-align: center;
                margin: auto;
                color: #6a6c6d;

            }
        }
    }

}